body{
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(133.84deg, #4E4E4E -16.04%, #333333 9.33%, #1A1A1A 32.02%, #1A1A1A 62.06%, #262626 87.42%, #4E4E4E 112.12%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.disp-card{
    background: linear-gradient(133.84deg, #4E4E4E -16.04%, #333333 9.33%, #1A1A1A 32.02%, #1A1A1A 62.06%, #262626 87.42%, #4E4E4E 112.12%);
    box-shadow: 2px 6px 15px 2px rgba(12, 10, 11, 0.5);
    border-radius: 0.8em;
}

.scard-title{
    color: #fff;
    font-weight: 600;
    font-size: 1.2em;
    margin: 0.2em 0 0 0;

  }
  
  .scard-text{
    color: #9290FE;
    margin: 0;
    font-size: 0.8em;
  }

.card-icon{
  width: 1.5em;
}


.wtxt{
  color: #fff;
}

.sbtn{
    width: 100%;
    background: linear-gradient(185.6deg, #0D469E -6.93%, #29C4F9 74.77%, #5CE357 109.92%);
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    border: 0;
}

.i-sbtn{
  /* width: 100%; */
  background: linear-gradient(185.6deg, #0D469E -6.93%, #29C4F9 74.77%, #5CE357 109.92%);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8em;
  border: 0;
  width: 100%;
}

.sbtn2{
  /* width: 100%; */
  background: linear-gradient(185.6deg, #0D469E -6.93%, #29C4F9 74.77%, #5CE357 109.92%);
  border-radius: 5px;
  border: 0;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 600;
}

.sinput{
  color: #eee;
  background-color: #262626;
  border: 0;
}

.sinput option{
  background-color: #262626;
}

.input-file, #fileName{
  background-color: #262626;
  /* background: linear-gradient(133.84deg, #4E4E4E -16.04%, #333333 9.33%, #1A1A1A 32.02%, #1A1A1A 62.06%, #262626 87.42%, #4E4E4E 112.12%); */
  border: 0;
  color: #fff;
}

.link{
  color: #777;
}

.logo{
  width: 5em;
}

.cinput{
  /* height: 3em; */
  background-color: #EFF0F7;
}

.clink{
  text-decoration: none;
  color: #fff;
}

.clink:hover, .link:hover{
  color: #29C4F9;
}

.signup-div{
  /* border-radius: 7px; */
  /* box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.15); */
  padding: 2em 5em;
}

.ltxt{
  font-size: 0.8em;
  font-weight: 300;
}

a .date .active{
  background-color: #8072D0;
}

.nav-menu{
  width: 100%;
  min-height: 4em;
  background-color: #1A1A1A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  box-shadow: 2px 6px 10px 2px rgba(12, 10, 11, 0.3);
}

.nav-logo{
  width: 3em;
}

.tabs{
  display: flex;
}

.tab-group{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  margin: 0 .5em;
}

.tab-group h6{
  margin:0 .5em;
  font-weight: 400;

}

.tab-icon{
  width: 1em;
}

.tab-group .active{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #B1C7DF;
  margin: 0 .5em;
}

.tab-group:hover{
  color: #9786F9;
}

.icon{
  width: 2.4em; 
  height:2.4em; 
  margin-left:.5em; 
  border-radius:2em; 
  background: color #1a1a1a;
  border: 1px solid #B1C7DF;
}

.licon{
  width: 2.4em; 
  height:2.4em; 
  margin-left:.2em; 
  text-decoration: none;
  /* border-radius:2em;  */
  /* background: color #1a1a1a; */
  /* border: 1px solid #B1C7DF; */
}

.user-icon{
  color: #B1C7DF;
}

.download-icon{
  color: #B1C7DF;
  /* animation: ease-in-out 1s; */
  animation: ease-in-out;
  animation-duration: 1s;
}

.dload:hover{
  transform: scale(1.1);
  cursor: pointer;
  color:#9BE2BF;
}


.username{
  margin: 0 0 -3px 0;
  padding: 0;
}

.version{
  color: #9BE2BF;
  padding: 0;
}

/* .video-mask{
  border-radius: 10px; 
  overflow: hidden; 
  height: 300px;
} */

.video-mask{
  height: 100%;
}

.cddown{
  background-color: #1A1A1A;
  width: 5em;
}


.cddown li a{
  color: #fff;
  width: 10em;
}

.history-text{
  margin: 0;
}


.video-source{
  height: 100%;
}

.vidpluschart{
  /* height: 300px; */
}

.video{
  /* height: 100%; */
  height: 300px;
  width: 100%; 
  background: #111 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.asdf{
  height: 100%;
}

/* .vid-container{
  height: 100%;
} */

.datedloadrow{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.datedloadrow h5, .datedloadrow div{
  display: inline;
}


@media screen and (max-width:700px) {
  .nav-logo, .user-name, .icon, .version{
    display: none !important;
  }

  .video{
    margin-top: 1em;
  }
}

@media screen and (min-width:a) {
 #myChart{
   height: 700px;
 }
 .vidpluschart{
  height:700px;
}
}

