{% extends 'base.html' %} {% block title %}History{% endblock %}
{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/historystyle.css') }}">
{% endblock %}
{% block body%}
<div class="container my-2">
    <!-- <h2 class="text-center wtxt mt-3">Data History</h2> -->
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 d-flex justify-content-center dropdown ">
            <h2 class="text-center dropdown-toggle wtxt history-text" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              History 
            </h2>
            <ul class="dropdown-menu cddown" aria-labelledby="dropdownMenuButton1">
              {% for date in data.dates %}
                  <li><a class="dropdown-item date" href="#">{{date}}</a></li>
              {% endfor %}
            </ul>
          </div>
    </div>
    <div class="my-2 datedloadrow">
        <h5 class="wtxt" id="view-date"></h5>
        <div class="dload">
            <span class="material-icons download-icon" id="download-csv">file_download</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row my-1 mb-2">
                <div class="col-md-3 my-1">
                    <div class="card disp-card">
                        <div class="card-body">
                            <div class="ctitle">
                                <img class="card-icon" src="{{ url_for('static', filename='images/green.png') }}" alt="">
                            </div>
                            <div class="card-title scard-title" id="num-entry"></div>
                            <p class="card-text scard-text">Current Entry</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-1">
                    <div class="card disp-card">
                        <div class="card-body">
                            <div class="ctitle">
                                <img class="card-icon" src="{{ url_for('static', filename='images/red.png') }}" alt="">
                            </div>
                            <div class="card-title scard-title" id="num-exit"></div>
                            <p class="card-text scard-text">Current Exit</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-1">
                    <div class="card disp-card">
                        <div class="card-body">
                            <div class="ctitle">
                                <img class="card-icon" src="{{ url_for('static', filename='images/green.png') }}" alt="">
                            </div>
                            <div class="card-title scard-title" id="num-inside"></div>
                            <p class="card-text scard-text">Current Inside</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-1">
                    <div class="card disp-card">
                        <div class="card-body">
                            <div class="ctitle">
                                <img class="card-icon" src="{{ url_for('static', filename='images/green.png') }}" alt="">
                            </div>
                            <div class="card-title scard-title" id="num-total"></div>
                            <p class="card-text scard-text">Overall total</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="disp-card">
                        <canvas id="myChart" style="max-width:100%; max-height:500px; min-height:350px"></canvas>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="disp-card">
                        <canvas id="myChart2" style="max-width:100%; max-height:500px; min-height:350px"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var curDate;
    var dateStats = [["date", "status"]];
    const config = {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                label: "Number of customers",
                backgroundColor: '#6BE2BE',
                borderColor: '#B1C7DF',
                data: [],
                fill: false,
                tension: 0.3
            }],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                labels: {
                    fontColor: "#fff"
                }
            },
            title: {
                display: true,
                text: 'Real time Customer Data',
                fontColor: "#fff"
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Time'
                    }
                }],
                yAxes: [{
                    display: true,
                    beginAtZero:true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Customers'
                    }
                }]
            }
        }
    };


    const config2 = {
        type: 'bar',
        data: {
            labels: [],
            datasets: [{
                label: "Number of customers",
                backgroundColor: '#B9C5DD',
                borderColor: '#B1C7DF',
                data: [],
                fill: false,
            }],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                labels: {
                    fontColor: "#fff"
                }
            },
            title: {
                display: true,
                text: 'Real time Customer Data',
                fontColor: "#fff"
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Time'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Customers'
                    }
                }]
            }
        }
    };

    const getLineChartData = (date) => {
        try {
            fetch(`/history/${date}`, {
                headers: {
                    'Content-Type': 'application/json'
                },
                method: 'GET'
            }).then(response => {
                return response.json()
            }).then(data => {
                var current = 0;
                var entry = 0;
                var exit = 0;
                numeric = []
                dateStats = []
                for (let [i, status] of data.status.entries()) {

                    if (status == 'entry') {
                        current++
                        entry++
                        numeric.push(current)
                    }
                    else if (status == 'exit') {
                        current--
                        exit++
                        numeric.push(current)
                    }

                    dateStats.push([data.time[i], status])
                }

                document.querySelector("#num-entry").innerHTML = entry
                document.querySelector('#num-exit').innerHTML = exit
                document.querySelector('#num-total').innerHTML = entry + exit
                document.querySelector('#num-inside').innerHTML = current

                config.data.labels = data.time
                config.data.datasets[0].data = numeric

                lineChart.update();
                curDate = date

                document.querySelector('#view-date').innerHTML = date


            })
        } catch (e) {
            console.log(e.message)
        }

    }

    const getBarChartData = () => {
        try {
            fetch(`/allhistory`, {
                headers: {
                    'Content-Type': 'application/json'
                },
                method: 'GET'
            }).then(response => {
                return response.json()
            }).then(data => {

                config2.data.labels = data.dates
                config2.data.datasets[0].data = data.tallies

                barChart.update();


            })
        } catch (e) {
            console.log(e.message)
        }

    }

    const downloadCSV = () => {
        let csvContent = "data:text/csv;charset=utf-8,";

        dateStats.forEach((rowArray) => {
            let row = rowArray.join(",");
            csvContent += row + "\r\n";
        });

        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", `data_${curDate}.csv`);
        document.body.appendChild(link); // Required for FF
        
        link.click(); 

        document.body.removeChild(link)

    }

    document.querySelector("#download-csv").addEventListener('click', () => downloadCSV())

    const context = document.getElementById('myChart').getContext('2d');
    const lineChart = new Chart("myChart", config);

    const context2 = document.getElementById('myChart2').getContext('2d');
    const barChart = new Chart("myChart2", config2);



    $(document).ready(function () {




        const date_containers = document.querySelectorAll(".date")
        date_containers.forEach(date_container => {
            date_container.addEventListener('click', e => {
                getLineChartData(e.target.innerHTML)
            })
        })

        getBarChartData()

        getLineChartData(date_containers[0].innerHTML)
        date_containers[0].classList.add("active")
    });

</script>
{% endblock %}